

/* borrowed from Twitter's source code. It's a clever use of background image + color */
body {
	background-image: url(https://abs.twimg.com/images/themes/theme1/bg.png);
    background-repeat: no-repeat;
	background-color: #C0DEED;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

}
/* 
      background-position: left 40px;
      background-attachment: fixed;
      background-repeat: repeat;
*/





/* Nav Bar */

nav {
	height: 45px;
	background: #fff;
	width: auto; /* why doesn't this stretch my navbar? */
	margin: -10px;

}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
 
}

nav h1 {
	text-align: center;
}



nav li {
	float: left;
}

nav a {
	display:block;
	margin-top: 5px;
	height: 40px;
}
.home {
	background: url(images/home.png);
	width: 90px;
	margin-left: 75px
}
.notifications {
	background: url(images/notifications.png);
	width: 126px;
	
}
.messages {
	background: url(images/messages.png);
	width: 117px;
}
.discover {
	background: url(images/discover.png);
	width: 107px;
}
nav a:hover, nav a:focus nav a:active {
	background-position: 0 41px;
}

#angrybird {
	background: url(images/angrybird.png);
	width: 30px;
	margin-top: 5px;
	margin-left: 130px;



}

/*END NAVBAR*/



/* PROFILE SECTION */
.profile{
	background-color: #fff;
	margin: 25px 10px 10px 50px;
	border-radius: 5px;
	width: 300px;
	height:200px;
	display:inline-block;
}
.profile h3{
	margin: 0 0 5px 95px; 
}
.profile p {
	font-size:12px;
	margin: -5px 0 0 95px; /*margin bottom was working and then became unresponsive */
	color: #66757f;
}
.profbg{
	background-color: #0084B4;
	width: 300px;
	height: 100px;
	float:top;
	border-radius: 5px 5px 0 0;

}
.profileborder{
	width:72px;
	height:72px;
	border: 3px solid #fff;
	border-radius: 7px;
	margin: 60px 0 0 10px;
	overflow:hidden;
	float:left;

}
.qh {
	height:105px;	
}

#stats li{
	display:inline;
	font-size: 10px;
	color:#8c9ca9;
	margin-right: 30px;
}
#stats {
	margin: 10px 0 0 20px;
}


#jquerystats li{
	font-size: 18px;
	font-weight: 500;
	color:#0084B4;
	display:inline-block;
	margin: 3px 33px 0 33px;
}
#jquerystats li:last-child{
	margin-left: 48px;
}

/*END PROFILE SECTION */

/* MAIN PANEL */

#main{
	width: 600px;
	height: 600px;
	background: #fff;
	float:right;
	display:inline-block;
	margin: 25px 550px 0 0;
	border-radius: 6px;
	overflow:scroll;
	position:fixed;

}

.tweet {
	width: 600px;
	height:55px;
	background: #E5F2F7;
	border-radius: 6px 6px 0 0;
}

.tweet .profileborder {
	width:32px;
	height:32px;
	border: 0;
	position: absolute;
	top: -50px;
	margin-left: 30px;
	display:inline-block;
	float:left;

}
.tweet .qh{
	height: 40px;
}


form {
	display:inline-block;
	float:right;
	margin: 15px 20px 0 0;
	position: relative;
}
#tweeter {
	width: 500px;
	height: 20px;
	float:right;
	display: inline-block;
	position: relative;
}
.placeholder{
	color: #E5F2F7;
}


.tweets li{
	/*margin-left: 30px;*/
	border-bottom: 1px solid #d3d3d3;
	display:block;

}
.tweets li:hover{
	background-color:#eef7fa;
}
.username{
	float:left;
	display:inline-block;
	font-size: 14px;
	font-weight: bold;

}
.tweets .username:hover {
	text-decoration: underline;
	color: #2b7bb9;

}
.twitterid{
	font-size:11px;
	color: #8899a6;
	display:inline-block;
	margin: 18px 0 0 0;
	padding-left:5px;
}

.tweets .message{
	font-size: 13px;
	display:block;
	margin-top: 0px;
}
.tweets a{
	color:#0084B4;
	text-decoration: none;
}
.tweets a:hover{
	text-decoration: none;
}

.twitpic {
	width: 50px;
}

.twitpicborder {
	margin: 13px 10px 0 10px;
	width:48px;
	height:48px;
	border: 0;
	display:inline-block;
	float:left;
	border-radius: 6px;
	overflow:hidden;
}

.checkTweets {
	height:40px;
	border-top: 1px solid #d3d3d3;
	border-bottom: 1px solid #d3d3d3;
	background-color: #f5f8fa;
}
.checkTweets p{
	font-size: 13px;
	text-align:center;
	color:#0084B4;
}

/*END OF MAIN*/


/*WHO TO FOLLOW*/

#toFollow{
	background-color: #fff;
	margin: 25px 0 0 613px;
	border-radius: 5px;
	width: 300px;
	height:600px;
	display:inline-block;
	float:right;
	position:fixed;
}
#toFollow #title2{
	color: #0084B4;
	font-size: 12px;
	position:fixed;
	margin: -16px 0 25px 135px;

}
#toFollow #title{
	color: #66756f;
	font-size: 18px;
	margin: 20px 0 0 20px;

}


.follows .twitpicborder{
	float:left;
}
.follows li{
	display:block;
	margin: 10px 0 10px 10px;
}
.follows .username {
	margin-top: 20px
}
.follows .twitterid{
	margin-top:23px;
}
#followbutton{
	display:inline-block;
	margin: -10px 90px 0 0;

}

/*END OF WHO TO FOLLOW*/

/* TRENDS */

#trends{
	background-color: #fff;
	margin: 240px 600px 10px -310px;
	border-radius: 5px;
	width: 300px;
	height:385px;
	display:inline-block;
	float:left;
	position:fixed;
	overflow:hidden;
}
#trends p{
	margin: 20px 0 0 15px;
	color:#66757f;
	font-size: 18px;
}
#trends #blah{
	font-size:12px;
	color: #0084B4;
	position: fixed;
	display:inline;
	margin: -17px 0 90px 80px;
}

#trending li{
	margin: 5px 0 5px 17px;
	color: #0084B4;
	font-size:13px;
	line-height: 20px;
}
#trending a{
	text-decoration: none;
}
